body {
  margin: auto 0px;
  width: 100%;
  background: white;
  font-family: sans-serif;
}
#entry-done {
  background-color: #d3d3d3;
}
h1 {
  margin: 30px auto;
  text-align: center;
}
.container, .module-container {
  width: 90%;
  max-width: 800px;
  min-width: 640px;
  margin: 20px auto;
  padding: 10px 0px;
}
.container {
  padding: 0px 0px;
}
.module-container {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  border-radius: 22px;
}
.qa-container {
  width: 640px;
  margin: 0px auto;
  padding-top: 20px;
  display: flex;  /* Flexboxで中の要素を横並列に */
}
.jcode-area, .temp-area {
  font-size: 18px;
  margin: 0px auto;
}
.qa-set {
  width: 100%;
  display: flex;
  align-items: center;  /* FlexBoxでブロック要素を上下中央に */
}
.q-line {
  width: 180px;
}
.q-line p {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
}
.a-form input {
  width: 100px;
  padding: 0 5px;
  font-size: 24px;
  height: 50px;
  background-color: white;
  border-color: #d3d3d3;
  border-radius: 8px;
  border-style: solid;
  border-width: thick;
  -webkit-appearance: none; /* ↑↑モバイル版Safariで発生するshadowを消去する目的 */
  outline-style: none;
}
.alert-line {
  width: 100%;
  margin-bottom: 20px;
}
.alert-line p {
  margin: 5px 0px 10px 0px;
  text-align: right;
  font-size: 16px;
  color: gray;
}
.submit-container {
  margin: 0px auto;
  padding-bottom: 20px;
  text-align: center;
}
#enter-btn, #std-btn, #download-btn {
  align-content: center;
  width: 300px;
  height: 60px;
  color: white;
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 0px;
  padding: 0 20px;
  border: none;
  border-radius: 40px;
  background-color: #66AB8D;
  cursor: pointer;
}
#enter-btn {
  background-color: #d3d3d3;
  cursor: default;
}
#download-btn {
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
}
.logs-container {
  width: 90%;
  max-width: 720px;
  margin: 0px auto;
}
.logs-container p {
  margin: 10px auto 5px auto;
  font-size: 18px;
}
#logs-5 {
  height: 240px;
  overflow: auto;
}
#logs-all {
  height: 220px;
  margin-top: 10px;
  overflow: auto;
}
.logs-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 18px;
}
.logs-table thead {
  color: white;
  background: gray;
  border-bottom: 2px solid black;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}
.logs-table tbody tr:nth-child(odd) {
  background: #e9e9e9;
}
.logs-table tbody tr:nth-child(even) {
  background: #ffffff;
}
.logs-table tbody {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  white-space: normal;
  max-width: none;
  border: solid 1px #d3d3d3;
}
.logs-table td {
  padding: 0em 0.3em; /* 1emは文字の高さ1つ分。２つ指定の場合は上下値 左右値 */
}
.spread-link {
  text-align: right;
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .module-container, .container {
    min-width: unset;
  }
  .qa-container {
    width: 100%;
    flex-direction: column;   /* FlexBoxでブロック要素を上下中央に */
  }
  .jcode-area, .temp-area {
    flex-wrap: wrap;
  }
  #enter-btn, #std-btn {
    max-width: 300px;
    width: 75%;
  }
}

@media only screen and (max-width: 360px) {
  .module-container, .container {
    min-width: 230px;
  }
  .qa-set {
    flex-direction: column;
  }
  .q-line, .a-line {
    flex-wrap: wrap;
  }
  .q-line p {
    text-align: center;
    margin-bottom: 5px;
  }
  .alert-line p {
    text-align: center;
    margin: 5px 15px 10px 15px;
  }
  #enter-btn, #std-btn {
    margin-top: 20px;
  }
  #download-btn {
    font-size: 22px;
  }
}