body {
  width: 100%;
  background: white;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
}
.h {
  margin: 40px auto;
  text-align: center;
}
.qa {
  width: 960px;
  margin: 0px auto;
  display: flex;
}
.jcode, .temp {
  font-size: 18px;
  margin: 0px auto;
  display: flex; /* FlexBox適用 */
  align-items: center;  /* FlexBoxでブロック要素を上下中央に */
}
.a-set {
  display: flex;
  align-items: center;  /* FlexBoxでブロック要素を上下中央に */
}
.q {
  width: 180px;
}
.a {
  width: 150px;
}
.ast {
  width: 135px;
}
.q p {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
}
.a input {
  width: 110px;
  padding: 0 10px;
  font-size: 28px;
  height: 1.8em;
  background-color: white;
  border-color: #d3d3d3;
  border-radius: 8px;
  border-style: solid;
  border-width: thick;
  -webkit-appearance: none;　/* モバイルSafariの影を消去 */
}
.ast p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 16px;
}
.submit {
  margin: 0px auto;
  text-align: center;
}
.submit button {
  align-content: center;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0 20px;
  font-size: 30px;
  height: 2.0em;
  color: white;
  background-color: #d3d3d3;
  border: none;
  border-radius: 40px;
}
.logs {
  width: 40%;
  min-width: 320px;
  margin: 0px auto;
}
.logs p {
  margin: 20px 0px;
  font-size: 18px;
}
.logs table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 18px;
  table-layout: auto; /* もしくはfixed */
}
.logs thead {
  color: white;
  background: gray;
  border-bottom: 2px solid black;
  font-size: 16px;
  text-align: center;
  line-height: 2em;
}
.logs tbody tr:nth-child(odd) {
  background: #e9e9e9;
}
.logs tbody tr:nth-child(even) {
  background: #ffffff;
}
.logs tbody {
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  white-space: normal;
  max-width: none;
  border: none;
}
.logs td {
  padding: 0em 0.3em; /* 1emは文字の高さ1つ分。２つ指定の場合は上下値 左右値 */
}

@media only screen and (max-width: 960px) {
  .qa {
    width: 100%;
    flex-direction: column;
  }
  .jcode, .temp {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;  /* FlexBoxでブロック要素を上下中央に */
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin: auto 0px;
    padding: 0px;
  }
  .jcode, .temp {
    flex-direction: column;
  }
  .a-set, .ast {
    flex-wrap: wrap;
  }
  .ast {
    width: 100%;
  }
  .ast p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
  }
}

@media only screen and (max-width: 350px) {
  .a-set {
    flex-direction: column;
  }
  .q, .a {
    flex-wrap: wrap;
  }
  .q p, .ast p {
    text-align: center;
    margin-bottom: 5px;
  }
  .submit button {
    width: 90%;
    margin-top: 20px;
  }
}
