<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>検温くん_responsive</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="h">
      <h1>検温しますよー</h1>
    </div>
    
    <form action="{{ url_for('add_entry') }}" method=post>
      <div class="qa">
        <div class="jcode" >
          <div class="a-set">
            <div class="q"><p>社員コードは？</p></div>
            <div class="a"><input type="text" name="jcode" maxlength="7"></div>
          </div>
          <div class="ast"><p> ※半角7桁で！</p></div>
        </div>
        <div class="temp" >
          <div class="a-set">
            <div class="q"><p>体温は？</p></div>
            <div class="a"><input type="text" name="temp" maxlength="4"></div>
          </div>
          <div class="ast"><p> ※半角○○.○で！</p></div>
        </div>
      </div>
      <div class="submit">
        <button type="submit">これでOK</button>
      </div>
    </form>

    <div class="logs">
      <p>[送信履歴]</p>
      <table align=left> <!--trは行--> <!--thは見出しセル--> <!--tdは通常セル-->
        <thead>
          <tr>
            <th>社員コード</th>
            <th>体温</th>
            <th>登録日時</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
          <tr>
            <td>{{entry.jcode}}</td>
            <td>{{entry.temp}}</td>
            <td>{{entry.date.strftime('%a %m-%d %H:%M')}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>


