<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>検温くん_responsive</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="h">
      <h1>検温しますよー</h1>
    </div>
    
    <form action="{{ url_for('add_entry') }}" method=post>
      <div class="container">
        <div class="jcode-area" >
          <div class="qa-box">
            <div class="q">
              <p>社員コードは？</p>
            </div>
            <div class="a">
              <input type="text" name="jcode" id="input1" maxlength="7">
            </div>
          </div>
          <div class="alert-box">
            <p id="alert1"> ※ 半角英数字で７ケタ、英字は大文字で！</p>
          </div>
        </div>
        <div class="temp-area">
          <div class="qa-box">
            <div class="q">
              <p>体温は？</p>
            </div>
            <div class="a">
              <input type="text" name="temp" id="input2" maxlength="4">
            </div>
          </div>
          <div class="alert-box">
            <p id="alert2"> ※ 半角数字、35.0以上41.0未満で！</p>
          </div>
        </div>
      </div>
      <div class="submit">
        <button type="submit" id="submit">これでOK</button>
      </div>
    </form>

    <div class="logs">
      <p>[送信履歴]</p>
      <table align=left>
        <thead>
          <!-- trは列要素 -->
          <tr>
            <!-- thは見出しセル（自動で太字中央寄せ）-->
            <th>社員コード</th>
            <th>体温</th>
            <th>登録日時</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
          <tr>
            <!-- tdは通常セル -->
            <td>{{entry.jcode}}</td>
            <td>{{entry.temp}}</td>
            <td>{{entry.date.strftime('%a %m-%d %H:%M')}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- ここからJavascript -->

    <script>
    /*1.最初から社員コード欄（id="input1"）にカーソルを合わせておく */
      document.getElementById('input1').focus();
    /*2.input1に”大文字アルファベットor数字”で7桁埋まったら、罫線をグレーからグリーンに */
      const input1 = document.querySelector("#input1");   //document.querySelector()メソッドで、HTMLタグ要素をidで指定（”#id名”）
      input1.addEventListener("keyup", function(){    // id=”input1"内で、"keyup"(キーを押して離した時）発火で、function(){内容}を作動
        if (/([A-Z]|\d){7}/.test(this.value)) {  //正規表現：([A-Z]|\d){7}
          this.style.borderColor = "#66AB8D";
          document.getElementById("alert1").textContent = "";
        } else{
          this.style.borderColor = "#d3d3d3";
          document.getElementById("alert1").textContent = "※ 半角英数字で７ケタ、英字は大文字で！";
        }
      },false);
    /*3.input2に”35.0〜40.9までの数"が入ったら、罫線をグレーからグリーンに */
      const input2 = document.querySelector("#input2");
      input2.addEventListener("keyup", function(){ 
        const temperature = Number(input2.value);
        if (temperature>=35 && temperature<41) {
          this.style.borderColor = "#66AB8D";
          document.getElementById("alert2").textContent = "";
        } else{
          this.style.borderColor = "#d3d3d3";
          document.getElementById("alert2").textContent = "※ 半角数字、35.0以上41.0未満で！";
        }
      },false);
    /*4. 2と3が整ったらOKボタンを変更[非活性=>活性]、[グレー=>グリーン]、[マウスオーバー時矢印=>ポインタ] */
      const button = document.querySelector("#submit");
      window.addEventListener("DOMContentLoaded", function(){
        button.disabled = true;
        input1.addEventListener("keyup", function(){
          const temperature = Number(input2.value);
          if (/([A-Z]|\d){7}/.test(input1.value) && (temperature>=35 && temperature<41)){
            button.disabled = false;
            button.style.backgroundColor = "#66AB8D";
            button.style.cursor = "pointer";
          } else{
            button.disabled = true;
            button.style.backgroundColor = "#d3d3d3";
            button.style.cursor = "auto";
          }
        },false);
      // input2の編集中でも同じ動きが起こるようコピペ
        input2.addEventListener("keyup", function(){
          const temperature = Number(input2.value);
          if (/([A-Z]|\d){7}/.test(input1.value) && (temperature>=35 && temperature<41)) {
            button.disabled = false;
            button.style.backgroundColor = "#66AB8D";
            button.style.cursor = "pointer";
          } else{
            button.disabled = true;
            button.style.backgroundColor = "#d3d3d3";
            button.style.cursor = "auto";
          }
        },false);
      },false);
    </script>
  </body>
</html>


